---
import Navigation from './Navigation.astro';
---

<header>
    <nav>
        <Navigation />
    </nav>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/kylealanschmidt">linkedin</a>
        <!-- <a href="https://www.twitter.com/Kyle_Schmidt">twitter</a> -->
        <a href="https://www.github.com/k-schmidt">github</a>
    </div>
</header>